body, html, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(192,192,192);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
